body {
    background-color: #2E2725;
}

header {
    background-color: #4E3C3C;
    border-radius: 0px 0px 80px 80px;
    height: 250px;
    box-shadow: 0 8px 0 5px rgba(0, 0, 0, 0.25);
}

h1 {
    font-family: "Limelight", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 64px;
    color: #D1C0B6;
    text-shadow: -4px 4px 0 rgba(0, 0, 0, 0.93);
    width: 375px;
    margin: 0px;
    padding: 25px 0px 20px 80px;
    position: relative;
}

h2 {
    color: #D1C0B6;
    font-family: "Special Elite";
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin: 0px;
    padding-left: 80px;
}

img.maglass {
    rotate: -45deg;
    scale: .4;
    position: absolute;
    top: -120px;
    left: 370px;
    animation: flip 2s ease-in-out infinite alternate;
}

@keyframes flip {
    from {transform: rotate(-30deg);}
    to {transform: rotate(50deg);}
}

h3, a {
    color: #342A27;
    font-family: "Special Elite";
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

h3 {
    font-size: 24px;
    text-align: center;
    text-decoration: underline;
    margin-bottom: 10px;
}

main {
    display: flex;
    margin-top: 30px;
    margin-left: 50px;
    margin-right: 50px;
    margin-bottom: 104px;
}

div {
    background-color: #D1C0B6;
    border-radius: 10px;
    box-shadow: 0 11px 0 5px rgba(0, 0, 0, 0.47);
    height: 306px;
    width: 260px;
    margin: 10px;
}

ul {
    margin: 0px;
    padding-left: 30px;
}

a {
    text-decoration: none;
    font-size: 18px;
    line-height: 45px;
    padding-right: 5px;
    
}

li {
    transition: transform .5s;
}

li:hover {
    transform: scale(1.2) translate(20px);
}

footer {
    background-color: #4E3C3C;
    display: flex;
    height: 40px;
}

.footer {
    font-family: "Inter", sans-serif;
    color: #D1C0B6;
    margin: 0px;
    font-size: 16px;
    text-align: center;
    width: 100%;
    margin: auto;
}