body {
    background-color: #1D2320;
    /* background-image: url(images/replace.png);
    background-repeat: no-repeat;
    background-attachment: fixed; */
}

.portal {
    width: 50%;
    text-align: center;
    border-style: solid;
    border-color: #EADADA;
    border-width: 5px;
    padding: 5px;
    margin: auto;
    margin-top: 20px;
}

a {
    text-decoration: none;
    font-family: "Fredericka the Great", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 32px;
    color: #EADADA;
}

.weblink {
    font-family: "Edu SA Beginner", cursive;
    font-optical-sizing: auto;
    font-weight: normal;
    font-style: normal;
    font-size: 25px;
    transition: all 2s;
}

.weblink:hover {
    scale: 1.2;
}

h1 {
    color: #EADADA;
    font-family: "Fredericka the Great", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 55px;
    margin: auto;
    padding-top: 30px;
    padding-bottom: 30px;
    width: 50%;
    text-align: center;
}

main {
    margin: auto;
    border-style: solid;
    border-color: #EADADA;
    border-width: 5px;
    width: 600px;
}

article {
    border-bottom: solid;
    border-width: 5px;
    width: 400px;
    margin: auto;
    padding: 0px 0px 0px 0px;
    border-color: #EADADA;
}

h2 {
    color: #EADADA;
    font-family: "Fredericka the Great", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 45px;
    width: 400px;
    margin: 20px 0px 20px 0px;
}

.date {
    font-family: "Edu SA Beginner", cursive;
    font-optical-sizing: auto;
    font-weight: normal;
    font-style: normal;
    font-size: 20px;
    color: #EADADA;
    text-decoration: underline;
    /* text-align: right; */
}

p {
    width: 400px;
    font-family: "Edu SA Beginner", cursive;
    font-optical-sizing: auto;
    font-weight: normal;
    font-style: normal;
    font-size: 25px;
    color: #EADADA;
    line-height: 35px;
    margin-top: 5px;
}

footer {
    margin-top: 30px;
}